.board-container {
  margin-left: 50px;
  .board-details {
    .title {
      color: rgb(74, 74, 74);
      font-size: 50px;
      text-align: justify;
    }
    .description {
      margin: 5px 0 10px 0;
    }
  }
}

.edit-button-section {
  width: 236px;
}
