.board-item-container {
  position: relative;
  display: block;
  float: left;
  width: 236px;
  height: auto;
  padding: 10px;
  border: 1px 1px 1px 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  &:hover {
    background-color: rgb(242, 242, 242);
    .edit-board-button em {
      display: inline;
    }
  }
}

.pin-picture-background {
  background-color: rgb(230, 230, 230);
}

.pin-picture-block {
  display: block;
  content: "";
  height: 210px;
  cursor: pointer;
  z-index: 1;
}

.detail-block {
  width: 100%;
  display: block;
  float: left;
  cursor: default;
}

.pin-picture-block {
  .boardcover, .boardthumbs {
    vertical-align: middle;
    display: block;
    float: left;
  }
}

.pin-picture-0 {
  border-radius: 5px 5px 0 0;
  width: 234px;
  height: 110px;
  overflow: hidden;
  img {
    margin: 5px;
    width: 96%;
  }
}

.boardthumbs {
  div:nth-child(1) {
    border-bottom-left-radius: 5px;
  }
  div:nth-child(2) {
    border-bottom-right-radius: 5px;
  }
}

.pin-picture-1 {
  display: inline-block;
  width: 117px;
  height: 111px;
  overflow: hidden;
  img {
    margin: 5px;
    width: 95%;
  }
}

.board-title {
  display: block;
  margin: 5px auto;
  float: left;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.pin-count-block {
  color: #b5b5b5;
  font-size: 16px;
  width: 100%;
  display: inline;
  text-align: left;
  .pin-count {
    font-weight: bold;
  }
  .text {
    font-weight: normal;
  }
}

.edit-board-button {
  &:hover {
    background-color: #bd081c;
  }
  em {
    background: url(http://res.cloudinary.com/dfazwubvc/image/upload/v1478211490/pinspiration/icons/pinterest_sprite.png) -183px -204px no-repeat;
    border-radius: 30%;
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: 2
  }
  // display: none;
  position: absolute;
  width: 33px;
  height: 33px;
  bottom: 10px;
  right: 5px;
  cursor: pointer;
  border-radius: 5px
}
