// Pinterest-colors
// Red
// #bd081c #BD080E #d50c22 (light red)
// Blue
// #0083D5
// Light Grey
// color: #a7a7a7;

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 560px;
}

.home-children {
  margin-left: 50px;
}

.add-pin-button {
  cursor: pointer;
  z-index: 90;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  bottom: 18%;
  right: 2%;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  padding: 11px 13px;
  margin: 0;
  outline: none;
  &:hover {
    background-color: #bd081c;
  }
  em {
    display: inline-block;
    position: relative;
    outline: none;
    vertical-align: middle;
    background-image: url(http://res.cloudinary.com/dfazwubvc/image/upload/v1478565958/pinspiration/icons/pinterest_sprite2.png);
    background-position: -391px -56px;
    background-size: 405px 370px;
    width: 14px;
    height: 14px;
  }
}

.github {
  cursor: pointer;
  z-index: 90;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  right: 2%;
  bottom: 13%;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  padding: 4px 6px;
  margin: 0;
  border-radius: 50%;
  border: 0;
  outline: none;
  &:hover {
    background-color: #bd081c;
  }
  .github-icon {
    color: #555;
  }
}

.linkedin {
  // font-size: 1.8em;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 90;
  background-color: #fff;
  right: 2%;
  bottom: 8%;
  padding: 4px 6px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  outline: none;
  &:hover {
    background-color: #bd081c;
  }
  .linkedin-icon {
    color: #555;
  }
}

.pinterest {
  cursor: pointer;
  z-index: 90;
  display: inline-block;
  position: fixed;
  background-color: #fff;
  right: 2%;
  bottom: 3%;
  padding: 4px 6px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  outline: none;
  &:hover {
    background-color: #bd081c;
  }
  .pinterest-icon {
    color: #555;
  }
}

.add-pin-menu {
  z-index: 990;
  display: none;
  position: fixed;
  right: 75px;
  bottom: 18%;
  font-size: 16px;
  background: #fff;
  border-radius: 5%;
  border: 1px solid #ccc;
  list-style: none;
}

.add-pin-menu-Caret {
  z-index: 990;
  position: absolute;
  background-image: url(http://res.cloudinary.com/dfazwubvc/image/upload/v1478826001/pinspiration/icons/pinterest_sprite_arrows2.png);
  background-position: -234px -37px;
  background-size: 249px 240px;
  width: 10px;
  height: 20px;
  right: -10px;
  top: 94px;
}

.m-fadeIn {
  display: block;
}

.m-fadeOut {
  display: none;
}

.add-pin-menu > li {
  cursor: pointer;
  color: #000;
  padding: 20px;
  &:hover {
    background: #eee;
  }
}

.modal-input {
  color: rgb(85, 85, 85);
  display: block;
  width: 100%;
  line-height: 1.66;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px inset;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  border-radius: 4px;
  margin: 15px 0 5px 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-box-sizing: border-box;
  // styling for Safari/Chrome, other WebKit
  -moz-box-sizing: border-box;
  // styling for Firefox, other Gecko
  box-sizing: border-box;
  padding: 5px;
  &:focus, &:active {
    box-shadow: 0 0 8px rgba(189, 8, 28, 0.8);
  }
}

.modal-form {
  .modal-label-text {
    margin: 5px 0 5px 0;
  }
  .description-input {
    height: 80px;
    margin-top: 10px;
  }
  .modal-board-select {
    height: 30px;
  }
  .modal-save-button-box {
    float: right;
    margin: 10px auto;
  }
  .modal-save-button {
    cursor: pointer;
    background-color: #fff;
    color: black;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    margin-left: 10px;
    border: 5px solid #ca271c;
    box-shadow: 0 8px #bd081c;
    &:hover {
      background-color: #fff;
      color: #bd081c;
      box-shadow: 0 6px #bd081c;
      transform: translateY(2px);
    }
  }
}

.new-pin-image-area {
  .image-container {
    overflow-y: scroll;
    height: 100%;
  }
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 586px;
  height: 286px;
  border: 2px;
  border-style: dashed;
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  .background-image {
    position: absolute;
    color: #bd081c;
    top: 38%;
    left: 45%;
  }
  .background-image-prompt {
    position: absolute;
    top: 28%;
    left: 31%;
  }
  .scraped-image-unchecked {
    opacity: 1;
  }
  .scraped-image-checked {
    opacity: 0.6;
    border: 2px solid #bd081c;
    border-radius: 5px;
  }
}

.error-prompt {
  margin-left: 2px;
  color: #bd081c;
  -webkit-animation-name: error_prompt; //for Safari 4.0-8.0
  -webkit-animation-duration: 2s; //for Safari 4.0-8.0
  animation-name: error_prompt;
  animation-duration: 2s;
}

//for Safari 4.0-8.0
@-webkit-keyframes error_prompt {
  0% {color: #bd081c; left:0px; top:0px;}
  50% {color: #0083D5; left:10px; top:0px;}
  100% {color: #bd081c; left:0px; top:0px;}
}

// Standard keyframes syntax - Yay changing colors
@keyframes error_prompt {
  0% {color: #bd081c; right:0px; top:0px;}
  50% {color: #0083D5; right:10px; top:0px;}
  100% {color: #bd081c; right:0px; top:0px;}
}
