.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 560px;
  // padding-left: 20px;
  .nav-bar {}
}

.home-children {
  margin-left: 50px;
}

.add-pin-button {
  z-index: 90;
  right: 2%;
  bottom: 18%;
  background-color: #fff;
  padding: 11px 13px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  display: inline-block;
  position: fixed;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #bd081c;
  }
  em {
    display: inline-block;
    outline: none;
    position: relative;
    vertical-align: middle;
    background-image: url(http://res.cloudinary.com/dfazwubvc/image/upload/v1478565958/pinspiration/icons/pinterest_sprite2.png);
    background-position: -391px -56px;
    background-size: 405px 370px;
    width: 14px;
    height: 14px;
  }
}

.github {
  z-index: 90;
  right: 2%;
  bottom: 13%;
  background-color: #fff;
  padding: 4px 6px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  display: inline-block;
  position: fixed;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #bd081c;
  }
  .git-image {
    color: #555;
  }
}

.linkedin {
  // font-size: 1.8em;
  z-index: 90;
  right: 2%;
  bottom: 8%;
  background-color: #fff;
  padding: 4px 6px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  display: inline-block;
  position: fixed;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #bd081c;
  }
  .linkedin-image {
    color: #555;
  }
}

.pinterest {
  z-index: 90;
  right: 2%;
  bottom: 3%;
  background-color: #fff;
  padding: 4px 6px;
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.1),0 0 0 0.5px rgba(0,0,0,0.04);
  border-radius: 50%;
  border: 0;
  margin: 0;
  display: inline-block;
  position: fixed;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #bd081c;
  }
  .pinterest-image {
    color: #555;
  }
}

.add-pin-menu {
  display: none;
  position: fixed;
  right: 7%;
  bottom: 13%;
  font-size: 16px;
  background: #fff;
  border-radius: 5%;
  border: 1px solid #ccc;
  list-style: none;
  z-index: 990;
}

.greater {
  display: none;
  position: absolute;
  right: -13px;
  bottom: 10px;
}

.accessibilityText {
  font: 0 / 0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute;
}

.m-fadeOut {
  display: none;
}

.m-fadeIn {
  display: block;
}

.add-pin-menu > li {
  padding: 20px;
  color: #000;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}

.modal-input {
  display: block;
  width: 100%;
  line-height: 1.66;
  color: rgb(85, 85, 85);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px inset;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 15px 0 5px 0;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  padding: 5px;
  &:focus, &:active {
    box-shadow: 0 0 8px rgba(189, 8, 28, 0.8);
  }
}

.modal-form {
  .modal-label-text {
    margin: 5px 0 5px 0;
  }
  .description-input {
    margin-top: 10px;
    height: 80px;
  }
  .modal-board-select {
    height: 30px;
  }
  .modal-save-button-box {
    margin: 10px auto;
    float: right;
  }
  .modal-save-button {
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: black;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    border: 5px solid #ca271c;
    box-shadow: 0 8px #bd081c;
    &:hover {
      background-color: #fff;
      color: #bd081c;
      box-shadow: 0 6px #bd081c;
      transform: translateY(2px);
    }
  }
}

.new-pin-image-area {
  .image-container {
    overflow-y: scroll;
    height: 100%;
  }
  position: relative;
  display: block;
  width: 586px;
  height: 286px;
  border: 2px;
  border-style: dashed;
  border-radius: 4px;
  background-color: rgb(239, 239, 239);
  box-sizing: content-box;
  .background-image {
    position: absolute;
    top: 38%;
    left: 45%;
    color: #bd081c;
  }
  .background-image-prompt {
    position: absolute;
    top: 28%;
    left: 31%;
    // color: #bd081c;
  }
  .pin-upload-image-unchecked {
    opacity: 1;
  }
  .pin-upload-image-checked {
    opacity: 0.6;
    border: 1px solid #bd081c;
  }
}

.error-prompt {
  margin-left: 2px;
  color: #bd081c;
  -webkit-animation-name: error_prompt; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: error_prompt;
  animation-duration: 2s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes error_prompt {
  0% {color: #bd081c; left:0px; top:0px;}
  50% {color: #0083D5; left:10px; top:0px;}
  100% {color: #bd081c; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes error_prompt {
  0% {color: #bd081c; right:0px; top:0px;}
  50% {color: #0083D5; right:10px; top:0px;}
  100% {color: #bd081c; right:0px; top:0px;}
}
