// Pinterest-colors
// Red
// #bd081c #BD080E
// Light Grey
// color: #a7a7a7;


.nav-bar {
  display: flex;
  flex-shrink: 2;
  width: 100%;
  border-bottom: 1px solid #a7a7a7;
  // color: #555;
  // dark grey vs light grey
  color: #a7a7a7;
}

.nav-bar .all-containers {
  vertical-align: top;
  float: left;
}

.logo-container {
  margin: 15px 10px 0px 10px;
  padding-left: 10px;
}

.logo {
  font-size: 2.3em;
  padding: 0 4px;
  color: #bd081c;
  &:hover {
    color: #0083D5;
  }
}

.search-container {
  margin: 13px 10px 0px 10px;
  min-width: 100px;
  box-sizing: border-box;
  width:100%;
}

.profile-container {
  margin: 15px 10px 0px 10px;
  min-width: 165px;
  display: flex;
  float: left;
  i {
    height: 50px;
    padding: 0 20px 0 10px;
    cursor: pointer;
    &:hover {
      color: #0083D5;
    }
  }
}

.search-bar {
  float: top;
  padding: 8px 8px 8px 64px;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 7px;
  color:gray;
  background-color: rgb(239,239,239);
  background-image:url('http://res.cloudinary.com/dfazwubvc/image/upload/v1478537643/pinspiration/icons/magnifying_glass.png');
  background-repeat:no-repeat;
  background-position:left center;outline:0;
}

// Comment back in if catalog link doesn't get made
// .catalog-link {
//   color: transparent;
//   &:hover {
//     color: #0083D5;
//   }
// }
