.nav-bar {
  display: flex;
  flex-shrink: 2;
  width: 100%;
  border-bottom: 1px solid grey;
  color: #555;
}

.nav-bar .all-containers {
  margin: 15px 10px 0px 10px;
  vertical-align: top;
  float: left;
}

.logo-container {
  padding-left: 10px;
  // padding-right: 5px;
}

.logo {
  color: #ca271c;
  &:hover {
    color: #4cb5f5;
  }
}

.search-container {
  min-width: 100px;
  width:100%;
}

.profile-container {
  min-width: 200px;
  display: flex;
  float: left;
}

.catalog-link {
  color: transparent;
}

.catalog-link {
  &:hover {
    color: #4cb5f5;
  }
}

.profile-link {
  // width: 60px;
  height: 60px;
  padding: 0 20px;
  cursor:pointer;
  &:hover {
    color: #4cb5f5;
  }
}

.logout-button {
  border-radius: 3px;
  margin-bottom: 30px;
  height: 30px;
  width: 70px;
  text-align: center;
  background-color: #fff;
  color: black;
  border: 5px solid #4cb5f5;
  box-shadow: 0 8px #0083d5;
  &:hover {
    background-color: #fff;
    color: #0083d5;
    box-shadow: 0 6px #0083d5;
    transform: translateY(2px);
  }
}

.search-bar {
  float: top;
  padding: 15px;
  padding-left: 50px;
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  color:gray;
  background-color: rgb(239,239,239);
  background-image:url('http://res.cloudinary.com/dfazwubvc/image/upload/v1478537643/pinspiration/icons/magnifying_glass.png');
  background-repeat:no-repeat;
  background-position:left center;outline:0;
}
