.PinModal {
  .picture-section {
    cursor: pointer;
    display: block;
    content: "";
    width: 100%;
  }
  .pin-detail-section {
    display: block;
    overflow-y: scroll;
    height: auto;
    max-height: 830px;
  }
  .pin-picture {
    display: block;
    width: 100%;
    border-radius: 5px;
  }
  .detail-section {
    width: 100%;
    display: block;
    float: left;
  }
  .pin-title {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    margin: 15px 0 0 0;
  }
  .pin-description {
    display: block;
    float: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    text-align: left;
    margin: 5px 0 15px 0;
  }
  .profile-pic {
    margin: 5px 5px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  .url-section {
    display: inline-block;
    color: rgb(85, 85, 85);
    text-align: left;
    padding-bottom: 5px;
  }
  .board-title {
    font-weight: bold;
    font-size: 16px;
  }
}
