.pin-item-container {
  display: block;
  float: left;
  width: 248px;
  height: auto;
  border: 1px 1px 1px 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  &:hover {
    background-color: rgb(242, 242, 242);
    .edit-board-button em {
      display: inline;
    }
  }
  .picture-section {
    cursor: -webkit-zoom-in;
    display: block;
    content: "";
    height: auto;
    width: 100%;
  }
  .pin-picture {
    display: block;
    width: 100%;
    border-radius: 5px;
  }
  .detail-section {
    width: 100%;
    display: block;
    float: left;
  }
  .pin-title {
    display: block;
    margin: 15px 0 15px 0;
    float: left;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
    text-align: left;
  }
  .profile-pic {
    margin: 5px 5px 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  .url-section {
    display: inline-block;
    color: rgb(85, 85, 85);
    text-align: left;
    padding-bottom: 5px;
  }
  .board-title {
    font-weight: bold;
    font-size: 16px;
  }

  .edit-board-button {
    &:hover {
      background-color: #bd081c;
    }
    em {
      cursor: pointer;
      z-index: 2;
      display: none;
      position: absolute;
      background: url(http://res.cloudinary.com/dfazwubvc/image/upload/v1478211490/pinspiration/icons/pinterest_sprite.png) -183px -204px no-repeat;
      width: 30px;
      height: 30px;
      bottom: 0;
      right: 0;
      border-radius: 30%;
    }
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 33px;
    bottom: 10px;
    right: 5px;
    border-radius: 5px;
  }
}
