.session-form {
  // opacity: .8;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(white, teal);
  background-image: url('http://res.cloudinary.com/dfazwubvc/image/upload/v1478883156/pinspiration/seed/desk-office-pen-ruler.jpg');
  background-size: cover;
  text-align: center;
  z-index: 0;
  #app-name {
    font-size: 50px;
    display: none;
  }
  #slogan {
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    padding-top: 128px;
    text-align: right;
    margin-right: 31px;
  }
  #app-logo {
    height: 200px;
    position:absolute;
    min-width: 300px;
    top: 0px;
    left: 20px;
  }
}

.login-form-box {
  position: relative;
  font-family: "montserrat", sans-serif;
  color: #555555;
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 20px;
  width: 400px;
  box-shadow: 1px 1px 3px #555555;
  margin: 100px 0 0 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 20;
}

.switch-button {
  font-size: 12px;
  padding-bottom: 3px;
  a {
    color: #bd081c;
  }
  a:hover {
    color: #ca271a;
    font-weight: bold;
  }
}

.header-link {
  text-decoration: none;
  color: #555555;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  width: 200px;
  text-align: left;
  border: 1px solid #555555;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
}

.form-errors {
  padding: 5px;
  color: #f62a00;
}

.submit-button {
  margin: 10px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: #555555;
  border: 5px solid #ca271c;
  box-shadow: 0 8px #bd081c;
  &:hover {
    background-color: #fff;
    color: #bd081c;
    box-shadow: 0 6px #bd081c;
    transform: translateY(2px);
  }
}

.demo-button {
  margin: 10px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  font-size: 14px;
  border-radius: 3px;
  margin-bottom: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: #555555;
  border: 5px solid #ffd64d;
  box-shadow: 0 8px #ffaf1a;
  &:hover {
    background-color: #fff;
    color: #ffaf1a;
    box-shadow: 0 6px #ffaf1a;
    transform: translateY(2px);
  }
}
