// testing
// header {
//   background: #b9d9c3;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 25px;
//   height: 250px;
// }

.session-form {
  /*opacity: .8;*/
  position: absolute;
  /*top: 150px;*/
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(white, teal);
  background-image: url('http://res.cloudinary.com/dfazwubvc/image/upload/v1478122619/pinspiration/seed/rainbow.jpg');
  background-size: cover;
  text-align: center;
  z-index: 0;
  #app-name {
    font-size: 50px;
    /*font-weight: bold;*/
    /*color: #fff;*/
    /*text-shadow: 2px 2px 3px #444;*/
  }
  #slogan {
    font-size: 16px;
    /*text-decoration: underline;*/
  }
}

.login-form-box {
  /*font-size: 16px; same as default*/
  border: 1px solid black;
  border-radius: 3px;
  padding: 20px;
  /*display: block;*/
  width: 400px;
  position: relative;
  box-shadow: 1px 1px 3px black;
  margin: 100px auto;
  background: rgba(255, 255, 255, 0.5);
  /*background: rgba(172, 208, 192, 0.5);*/
  /*hex #ACD0C0*/
  /*rgb colors, opacity*/
  color: black;
  z-index: 20;
  /*transition: height 1s, background-color 1s ease;*/
}

/*.login {
  background: rgba(255, 200, 200, 0.5);
  height: 370px;
}*/

.switch-button {
  /*color: rgb(0,51,204);*/
  font-size: 14px;
}

.header-link {
  text-decoration: none;
  color: black;
}

.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  /*margin-left: 20px;*/
  text-align: left;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  background-color: #fff;
}

.form-errors {
  /*float: right;*/
  /*border: 1px solid black;*/
  padding: 5px;
  color: #f62a00;
  /*border-radius: 5px;*/
}

.submit-button {
  margin: 10px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #f2d737;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background-color: #ffaf1a;
    /*background-color: #e69500;*/
  }
}

.demo-button {
  margin: 10px;
  border: none;
  width: 100px;
  height: 30px;
  background-color: #4cb5f5;
  cursor: pointer;
  font-size: 14px;
  &:hover {
    background-color: #0083d5;
  }
}

/*fun button transformations*/

.submit-button {
  border-radius: 3px;
  margin-bottom: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: black;
  border: 5px solid #ffd64d;
  box-shadow: 0 8px #ffaf1a;
  &:hover {
    background-color: #fff;
    color: #ffaf1a;
    box-shadow: 0 6px #ffaf1a;
    transform: translateY(2px);
  }
}

.demo-button {
  border-radius: 3px;
  margin-bottom: 30px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #fff;
  color: black;
  border: 5px solid #4cb5f5;
  box-shadow: 0 8px #0083d5;
  &:hover {
    background-color: #fff;
    color: #0083d5;
    box-shadow: 0 6px #0083d5;
    transform: translateY(2px);
  }
}

// REVIEW fix the submit button and demo button location
.demo-button.demo-hide {
  height: 0;
  border: 0;
  box-shadow: 0;
}





// testing text_input
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
  &:focus {
    outline: none;
  }
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}
