.user-container {
  display: block;
  margin: 50px 0 0 50px;
  width: 100%;
  .user-profile {
    display: block;
    width: 100%;
    font-size: 50px;
    color: rgb(74, 74, 74);
    margin-left: 10%;
  }
}

.user-profile .username {
  font-size: 50px;
  padding-bottom: 20px;
}

.user-container .empty {
  content: "";
  display: block;
}

.user-profile .user-description {
  font-size: 20px;
  max-width: 60%;
}

.user-container {
  .profile-picture {
    position: absolute;
    top: 75px;
    right: 100px;
    float: right;
    margin: 50px 0 0 0;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    // box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.8);
  }
  .follow-button {
    position: absolute;
    top: 289px;
    right: 110px;
    border-radius: 4px;
    // color: rgba(255, 255, 255, 0.85);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 130px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
  }
  .unfollowed {
    background-color: #bd081c;
    border: 1px solid #BD080E;
    // box-shadow: 0 8px #bd081c;
    &:hover {
      background-color: #d50c22;
      // box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
    }
  }
  .following {
    background-color: #0083d5;
    border: 1px solid #4cb5f5;
    &:hover {
      background-color: #009DFF;
      // box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.2),0 5px 5px 0 rgba(0,0,0,0.24);
    }
  }
  .detail-title-container {
    display: flex;
    width: 100%;
    margin-left: 30%;
    .detail-titles {
      .checked {
        background-color: rgb(242, 242, 242);
      }
      .unchecked {
        background-color: inherit;
        li {
          color: #777;
        }
      }
    }
  }
}

.text-container {
  padding: 15px;
  border-radius: 25px;
  width: 70px;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;

  // this is for the blue hover ripple thing
  // &:before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: #2098d1;
  //   height: 4px;
  //   -webkit-transform: translateY(4px);
  //   transform: translateY(4px);
  //   -webkit-transition-property: transform;
  //   transition-property: transform;
  //   -webkit-transition-duration: 0.3s;
  //   transition-duration: 0.3s;
  //   -webkit-transition-timing-function: ease-out;
  //   transition-timing-function: ease-out;
  // }
  // &:hover:before, &:focus:before, &:active:before {
  //   -webkit-transform: translateY(0);
  //   transform: translateY(0);
  // }
}

.user-container {
  .detail-title-container .detail-titles .text-container {
    display: block;
    float: left;
    height: auto;
    list-style: none;
    margin: 50px 10px;
    color: #555;
    /*color: rgb(234,234,234);*/
    .label {
      font-size: 20px;
      font-weight: bold;
    }
    // .number {
    //   font-size: 30px;
    //   font-weight: bold;
    // }
  }
  .detail-container {
    display: block;
  }
}

#boards-text-container {
  padding-right: 0;
}
#pins-text-container {
  padding-right: 0;
  li {
    padding-left: 10px;
  }
}
